.header {
	min-height: 70px;
	padding: 8px 0;
	background-color: white;
	position: sticky;
	top: 0;
}

.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.header__switch {
	color: #1976d2;
	font-weight: 700;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo {
	font-weight: 700;
	color: #1976d2;
	width: 200px;
}

.header__button {
	width: 100px;
}
