.header {
	min-height: 70px;
	padding: 16px 0;
	background-color: white;
	position: sticky;
	top: 0;
}

.header__container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.header__switch {
	color: #1976d2;
	font-weight: 700;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
