// TODO привести в соответствие с основными стилями

h2 {
  text-align: center;
  margin: 50px auto;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
