.history__container {
  text-align: center;
  ul {
    list-style: none;
  }
}

.history__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.history__span {
  font-weight: 700;
  margin-right: 16px;
}

.history__title {
  text-align: center;
  margin-bottom: 16px;
}

.history__link {
  margin-right: 16px;
}
