.main {
	text-align: left;
}

.rest__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow-y: auto;
	padding-top: 70px;
}

.rest__form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.fullwidth {
	display: flex;
	justify-content: space-between;
}

.item-title {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.rest__point {
	font-weight: 700;
	font-size: 12px;
}
